
section.homeHero {
  display: block;
  margin: 0 auto;
  text-align: center;;
  position: relative;
  padding: 100px 0px;

  img.homeBg {
    display: none;

    @include MQ(M) {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      @include center(xy);
      opacity: .6;
    }
  }

  h1 {
    // font-weight: bold;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    margin-right: 20px;
    font-weight: lighter;

    span {
      font-weight: bold;
      font-size: 3rem;
    }

    @include MQ(M) {
      margin-bottom: 2rem;
    }
  }

  img.logo {
    width: 60px;
  }

  h2 {
    font-size: 1.4rem;
  }

  p, a {
    font-size: 1rem;
  }

  p {
    margin-bottom: 40px;
  }

  a.button {
    margin: 0px;
    margin-bottom: 40px;
    font-size: 1rem;
    text-align: center;

    @include MQ(M) {
      margin-right: 20px;
      margin-bottom: 80px;

    }
  }

  div.heroHead {

    @include MQ(M) {
      @include display-flex;
      @include justify-content(space-between);
      @include align-items(center);
      margin-bottom: 75px
    }

  }

  div.logoBlock {
    margin-bottom: 2rem;
    text-align: center;
  }

  @include MQ(M) {

    h1 {
      margin: 0px;
    }

    h2 {
      font-size: 1.8rem;
      max-width: 55%;
      display: block;
      margin: 0 auto;
      margin-bottom: 1rem;
    }

    p, a {
      font-size: 1rem;
    }

    p {
      text-align: left;
      max-width: 65%;
      margin: 0 auto;
    }
  }
}

div.homeContent {
  position: relative;
}

aside.docsMenu {
  padding-top: 1rem;

  a {
    display: block;
    margin-bottom: 5px;

    &.menuRoot {
      font-weight: bold;
      padding-top: 10px;
      font-size: 1.1rem;
    }
  }

  @include MQ(L) {
    @include columnify(3);
    position: absolute;
    top: 0;
    left: 20px;
  }

  &.fixed {
    position: fixed;
  }
}


section.documentation {

  h2 {
    font-size: 2.2rem;
    padding: 0px;
    margin-bottom: 1rem;
    margin-top: 8rem;
    padding-top: 1rem;
    border-top: 1px solid #bfbfbf;

  }

  h4 {
    font-size: 1.2rem;
    padding: 0px;
    margin-bottom: 1rem;
    margin-top: 6rem;
    padding-top: 1rem;
    text-transform: uppercase;

    &:first-of-type {
      margin-top: 0px;
    }
  }

  b {
    font-size: 1.1rem;
    display: block;
    font-weight: bold;
    font-family: $font-sans;
    margin-bottom: 1rem;
    padding-top: 2rem;
  }

  section {
    margin-bottom: 20px;
  }

  @include MQ(L) {
    @include columnify(9, true);
    @include offset(3);
  }
}

section.overview {
  h2 {
    margin-top: 0px;
  }
}

div.credentialRow {
  @include display-flex;
  @include flex-direction(row);
  @include align-items(center);
  margin-bottom: 10px;

  p {
    margin-bottom: 0px;
    margin-right: $gutter_width;
  }

  pre {
    margin: 0px;
    padding: 10px;
  }
}



nav.homeNav {
  @include display-flex;
  @include justify-content(space-between);
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
  padding: 60px 20px;

  i {
    color: $white;
    font-size: 42px;
    display: block;
    position: absolute;
    @include center(xy);
    @include transition(all 250ms ease);
  }

  span {
    color: $grey;
    font-size: .9rem;
    text-transform: uppercase;
    position: absolute;
    @include center(x);
    bottom: -35px;
    text-align: center;
    display: block;
    min-width: 200px;
    font-weight: bold;
  }
}

a.navItem {
  display: inline-block;
  border: 1px solid $primary;
  border-radius: 50%;
  position: relative;
  background-color: $primary;
  margin: 0px;
  width: 60px;
  height: 60px;

  @include MQ(M) {
    margin: 0px;
    width: 80px;
    height: 80px;
  }

  &:hover {

    i {
      font-size: 40px;
    }
  }
}

div.homeTile {
  background-color: $primary;
}
