
  <section class="homeTiles">

    <div class="homeTile twoThirds">
      <a href="">
        <div class="tileType">
          <p>News</p>
          <div class="divider"></div>
        </div>

        <h2>AACT has been upgraded</h2>

        <!-- <div class="dogEar">
          <i class="fa fa-caret-right"></i>
        </div> -->

      </a>
    </div>


    <div class="homeTile oneThird reco">
      <a href="">
        <div class="tileType">
          <p>Recommendation</p>
          <div class="divider"></div>
        </div>

        <h2>Points to consider for statistical analysis using AACT</h2>

        <p class="learnMore">Learn More</p>

      </a>
    </div>

    <div class="homeTile oneThird tool">
      <a href="">
        <div class="tileType">
          <p>Tool</p>
          <div class="divider"></div>
        </div>

        <h2>This is a tool you can use called CoolTool™</h2>

        <p class="learnMore">Learn More</p>

      </a>
    </div>

    <div class="homeTile twoThirds">
      <a href="">
        <div class="tileType">
          <p>News</p>
          <div class="divider"></div>
        </div>

        <h2>This new feature will allow you to use the data in a new and interesting way.</h2>

        <!-- <div class="dogEar">
          <i class="fa fa-caret-right"></i>
        </div> -->

      </a>
    </div>

  </section>
