<div class="wrap">
  <nav class="homeNav">
    <a href="https://s3-us-west-2.amazonaws.com/aact2/csv-export-2016-06-28" class="navItem" target="_blank">
      <i class="fa fa-download"></i>
      <span>Connect to AACT2</span>
    </a>
    <a href="/api_docs" class="navItem" target="_blank">
      <i class="fa fa-book"></i>
      <span>Download AACT2</span>
    </a>
    <a href="https://github.com/SturdyCo/aact2" target="_blank" class="navItem">
      <i class="fa fa-github"></i>
      <span>Learn about AACT2</span>
    </a>
  </nav>
</div>
