<%= render 'pages/home_hero' %>

<div class="wrap homeContent">

  <%= render 'home_nav' %>

  <section class="homeTiles">

    <div class="homeTile twoThirds">
      <a href="">
        <div class="tileType">
          <p>News</p>
        </div>

        <h2>AACT has been upgraded</h2>

        <div class="dogEar">
          <i class="fa fa-caret-right"></i>
        </div>

      </a>
    </div>


    <div class="homeTile oneThird reco">
      <a href="">
        <div class="tileType">
          <p>Recommendation</p>
        </div>

        <h2>Points to consider for statistical analysis using AACT</h2>

        <p class="learnMore">Learn More</p>

      </a>
    </div>

    <div class="homeTile oneThird tool">
      <a href="">
        <div class="tileType">
          <p>News</p>
        </div>

        <h2>AACT has been upgraded</h2>

        <p class="learnMore">Learn More</p>

      </a>
    </div>

    <div class="homeTile twoThirds">
      <a href="">
        <div class="tileType">
          <p>News</p>
        </div>

        <h2>AACT has been upgraded</h2>

        <div class="dogEar">
          <i class="fa fa-caret-right"></i>
        </div>

      </a>
    </div>

  </section>

  <%#= render 'docs_menu' %>

  <section class="documentation">
    <%#= render 'overview' %>
    <%#= render 'faqs' %>
    <%#= render 'access' %>
    <%#= render 'content' %>
    <%#= render 'gallery' %>
  </section>

</div>
